<div class='author-details'>
  <FaIcon class='author-picture' @icon='circle-user' @size='10x' />
  <h2 class='author-name'>{{@model.name}}</h2>
  <Textarea
    class='author-biography'
    @value={{@model.biography}}
    maxlength='1000'
  />
</div>
<div class='author-button-row'>
  <button
    class='author-delete-button'
    disabled={{this.disableSubmit}}
    {{on 'click' this.deleteAuthor}}
  >Delete
  </button>
  <button
    class='bio-edit-button'
    disabled={{this.disableSubmit}}
    {{on 'click' this.editBio}}
  >Edit
  </button>
</div>
<div class='author-error-msg-row'>
  <text class='author-error-msg {{if this.isDeleteError "" "hidden"}}'>Unable to
    delete when author has an authored book</text>

  <text class='author-error-msg {{if this.isEditError "" "hidden"}}'>Error while
    editing. Please try again</text>
</div>