<div class='welcome'>
  <h2>Welcome to BooksRepo!</h2>
  <p>View a list of added books or add them yourself! Click on the books to edit
    the details!
  </p>
</div>

<div class='content'>
  <div class='add-button' {{on 'click' this.toggleAddModalView}}>Add a book!</div>
  <Books
    @toggleModalView={{this.toggleEditModalView}}
    @selectBook={{this.selectBook}}
    @books={{this.sortedBooks}}
  />
  {{! <Form></Form> }}
</div>

{{#if this.isAddModalOpen}}
  <Modal @title='Add a Book' @toggleModalView={{this.toggleAddModalView}}>
    <BookForm @type='add' />
  </Modal>
{{/if}}

{{#if this.isEditModalOpen}}
  <Modal @title='Edit a Book' @toggleModalView={{this.toggleEditModalView}}>
    <BookForm
      @type='edit'
      @selectedBook={{this.selectedBook}}
      @closeForm={{this.toggleEditModalView}}
    />
  </Modal>
{{/if}}