<div class='welcome'>
  <h2>Welcome to BooksRepo!</h2>
  <p>View a list of added books or add them yourself! Click on the books to edit
    the details!
  </p>
</div>

<div class='content'>
  <div class='add-button' {{on 'click' this.toggleAddModalView}}>Add a book!</div>
  <Books
    @toggleForm={{this.toggleEditView}}
    @selectBook={{this.selectBook}}
    @books={{this.sortedBooks}}
  />
  <SideSection>
    {{#if this.isEditOpen}}
      <BookForm
        @type='edit'
        @selectedBook={{this.selectedBook}}
        @closeForm={{this.toggleEditView}}
      />
    {{else}}
      <BookForm @type='add' />
    {{/if}}
  </SideSection>

</div>

{{#if this.isAddModalOpen}}
  <Modal @title='Add a Book' @toggleModalView={{this.toggleAddModalView}}>
    <BookForm @type='add' />
  </Modal>
{{/if}}

{{#if this.isEditOpen}}
  <Modal @title='Edit a Book' @toggleModalView={{this.toggleEditView}}>
    <BookForm
      @type='edit'
      @selectedBook={{this.selectedBook}}
      @closeForm={{this.toggleEditView}}
    />
  </Modal>
{{/if}}