<form class='form'>
  <label class='form-label'>
    Title:
    <Input
      class='form-input'
      @type='text'
      @value={{this.title}}
      maxlength='50'
    />
  </label>
  <label class='form-label'>
    Publisher:
    <Input
      class='form-input'
      @type='text'
      @value={{this.publisher}}
      maxlength='50'
    />
  </label>
  <label class='form-label'>
    Published year:
    <Input class='form-input' @type='number' @value={{this.year}} max='9999' />
  </label>
  <label class='form-label'>
    Name of Author:
    <Input
      class='form-input'
      @type='text'
      @value={{this.authorName}}
      maxlength='50'
    />
  </label>
  <div class='submit-button-row'>

    <text class='submit-status'>
      {{#if this.isSubmitSuccess}}
        Success!
      {{else if this.isSubmitError}}
        Error. Please try again.
      {{/if}}
    </text>
    {{#if (eq @type 'add')}}
      <button
        class='form-button'
        type='submit'
        disabled={{this.disableSubmit}}
        {{on 'click' this.submitAddForm}}
      >
        Add Book
      </button>
    {{else if (eq @type 'edit')}}
      <button
        class='form-button delete-button'
        type='submit'
        {{on 'click' this.deleteBook}}
      >
        Delete Book
      </button>
      <button
        class='form-button'
        type='submit'
        disabled={{this.disableSubmit}}
        {{on 'click' this.submitEditForm}}
      >
        Edit Book
      </button>
    {{/if}}
  </div>

</form>